body{
    background: black
}

#logo{
    object-fit: contain;
    height: 80%;
    width: 80%;
    margin: 20px;
 }
 
 .navegador {
     height: 230px;
     background-color: black;
     width: auto;
     margin: auto;
     padding: 35px 0;
     display: flex;
     align-items: center;
     justify-content: space-between;
      
        
 }
 
 ul {
     display: flex;
     position: absolute;
     right: 0%;
     margin-right: 110px;
     justify-content: space-between;
     gap: 30px;
     /* border: solid 1px red; */
 }
 li {
     position: relative;
     display: flex;
     align-items: center;
    
     height: 40%;
     list-style: none;
     background-color: transparent;
     width: 200px;
     justify-content: center;
 
     
 
     border: solid 2px white;
     border-radius: 10%;
 }
 
 .linha{
     margin-top: 10px;
     width: 0;
     height: 5px;
     top: 99%;
     left: 0;
     position: absolute;
     transition: 0.8s all;
 }
 
 li:hover .linha{
     width: 100%;
     top: 99%;
     left: 0;
     background: yellow;
 }
 
 li:hover{
     background: rgba(128, 128, 128, 0.322);
     height: 40%;
     width: 200px;
     border: none;
     
 }
 
 li a {
     
     justify-content: center;
     padding: 12px;
     font-size: 30px;
     color: #ffffff;
     text-decoration: none;
     font-family: "Source Sans 3", sans-serif;
 }

 #texto {
    display: block;
    text-align: center;
    margin: 60px;
    font-size: 23px;
    
    color: white;
 }


#titulo {
    display: block;
    padding-top: 0px;
    padding-bottom: 30px;
    color: rgb(255, 255, 255);
    font-size: 35px;
    margin-bottom: 5px;
    /* border: solid 1px red; */
} 
h1{
    font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

    display: block;
    font-size: 30px;
    
}

#fundo-serviço{
    background: url(background.webp);
    padding: 20px;
}

.serviços{
    background: rgba(128, 128, 128, 0.281);
    border-radius: 100px;
    padding: 15px;
    font-size: 30px;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
      

}

.serviços:hover{
    background: rgba(194, 193, 193, 0.418);
}

#caixa-serviço{
    
    display: block;
    margin-left: 20%;
    margin-right: 20%;
    align-items: center;
    
}

h3{
    margin-top: 50px;
    font-size: 25px;
}